.banner {
    min-height: 700px;
    /* background-color: var(--secondary_color); */
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_white);
   background: url("../../public/lp2/backgroung.jpg") no-repeat center center/cover;
}
.banner h2{
   color: #071e55;
   font-size: 50px;
   font-weight: 800;
}
.banner p{
   color: #071e55;
   font-size: 18px;
   line-height: 1.2rem;
  
}

.banner_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}
.banner img {
    width: 100%;
    border-radius: 20px;
}
.lp_form input, .lp_form textarea, .lp_form button, .lp_form select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.lp_form select{
    margin-bottom: 20px;
}
.lp_form input:focus, .lp_form textarea:focus{
    outline: none;
}
.lp_form {
    background-color:#a387bc98;
    border-radius: 10px;
    color: black;
    transition: .7s all;
}
.lp_form:hover{
    transform: scale(1.01);
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 100%;
        padding: 20px 0;
    }
    .banner_grid {
        display: flex;
        flex-direction: column-reverse;
    }
    .lp_form{
        margin-top: 82px;

    }
    .banner h2{
       
        font-size: 36px;
        font-weight: 600;
        text-align: center;
     }
     .banner p{
        
        font-size: 16px;
        line-height: 1.2rem;
       
     }
}
