:root {
    --primary_color: #2a2441;
    --secondary_color: #a387bc;
    --royal_purple: #6356ed;
    --washed_golden: #daeaf8;
    --not_so_white: #eaeaea;
    --text_color: #462c2b;
    --text_white: #fff;
    --slider_box_color: #231615;
    --paragraph-color: #575151;
    --footer-color: #2a2441;
    --color-black: #000;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    /* for responsive padding 10 left and right */
    padding: 0 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.flex-button {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}
.fb2 {
    flex-basis: 50%;
}
.margin-auto {
    margin: auto;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.margin-auto iframe {
    margin: auto;
}

.margin-100 {
    margin: 50px auto;
}

.padding-100 {
    padding: 100px 0;
}

/* Global settings */

.btn {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    border: none;
    background: none;
    font-size: 20px;
    margin-top: 20px !important;
}
.btn-Dark {
    width: fit-content;
}
.btn-Dark,
.btn-Dark a {
    padding: 7px 38px;
    background-color: var(--primary_color);
    border: 0;
    color: var(--text_white);
    display: block;
}

.btn-light a {
    padding: 12px 38px;
    background-color: var(--secondary_color);
    border: 0;
    display: block;
    color: var(--text_white);
}

.btn-center {
    margin: auto;
    width: fit-content;
    display: block;
}
.btn-border {
    padding: 10px 15px;
    border: solid 1px var(--slider_box_color);
}

.link {
    font-size: 16px;
    color: var(--text_color);
    font-weight: 400;
    transition: 0.5s all;
}

.link:hover {
    color: var(--primary_color);
}

.heading {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-black);
    margin: 0;
}

.heading.light {
    color: var(--text_white);
}

.subheading {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
    margin: 0;
}

.small_heading {
    font-size: 24px;
    font-weight: 600;
    color: var(--text_color);
}

.small_heading.normal {
    font-weight: 400;
}

.subheading.light {
    color: var(--text_white);
}

.paragraph {
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black);
}
.paragraph-small {
    font-size: 14px;
}
.paragraph-right {
    text-align: right;
}
.paragraph-left {
    text-align: left;
}

.center {
    text-align: center;
}

.paragraph.light {
    color: var(--text_white);
}

/* line animation */

.line_heading {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    transition: 0.5s all;
    max-width: 112px;
    width: 100%;
}

.line_heading:hover .small-line {
    animation-play-state: running;
}

.line_heading:hover .large-line {
    animation-play-state: running;
}

.line_heading .large-line {
    background-color: var(--primary_color);
    height: 4px;
    width: 100%;
    max-width: 80px;
    border-radius: 50px;
    animation: line_large 2s infinite linear;
    animation-play-state: paused;
}

.line_heading .small-line {
    background-color: var(--primary_color);
    height: 4px;
    width: 16px;
    border-radius: 50px;
    margin-right: 10px;
    animation: line_small 2s infinite linear;
    animation-play-state: paused;
}

.line_heading .small-line.light,
.line_heading .large-line.light {
    background-color: var(--text_white);
}

#target_item {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s all;
}

#target_item.active {
    transform: translateY(00%);
    opacity: 1;
}

#target_item #object-2 {
    transform: translateY(25%);
    transition: 0.5s all;
    transition-delay: 0.3s;
}

#target_item.active #object-2 {
    transform: translateY(10px);
}

#target_item > div {
    /* transform: translateY(100vh);
    opacity: 0;
    z-index: 0; */
    position: relative;
}

#object-2 {
    position: absolute !important;
    bottom: 0;
}

/* jehanzeb styles */
.social-buton {
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    width: 160px;
    appearance: button;
    text-align: center;
    padding: 10px 0px;
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-flex:first-child {
    margin-right: 15px;
}

.button-flex span {
    margin-right: 5px !important;
}

.social-button-container-flex-end {
    display: flex;
    justify-content: end;
}
.social-button-container-flex-start {
    display: flex;
    justify-content: flex-start;
}

.social-button-container-flex-bottom {
    display: none;
}

.test-paragraph {
    font-size: 16px;
    color: var(--paragraph-color);
    margin-bottom: 35px;
}

.fb40 {
    flex-basis: 40%;
}

.socail-image-margin {
    margin-right: 5px;
}

.iframe-WH {
    width: 592px;
    height: 434px;
}

.iframe-container {
    width: 592px;
    height: 434px;
    position: relative;
}

.box-bottom-right {
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 180px;
    height: 176px;
    z-index: -2;
}

.box-top-left {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 180px;
    height: 176px;
    z-index: -2;
}
.box-bottom-left {
    position: absolute;
    bottom: -15px;
    left: -10px;
    width: 180px;
    height: 176px;
    z-index: -2;
}

.box-top-right {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 180px;
    height: 176px;
    z-index: -2;
}
.circle-bottom-left {
    position: absolute;
    bottom: -8%;
    left: -6%;
    width: 80px;
    height: 76px;
    z-index: -1;
    border-radius: 90px;
}

.circle-top-right {
    position: absolute;
    top: -14%;
    right: -10%;
    width: 150px;
    height: 146px;
    z-index: -1;
    border-radius: 90px;
}
.background-circle-top-right {
    position: absolute;
    top: -60%;
    right: -50%;
    z-index: -1;
    width: 100%;
    height: 120%;
    background-repeat: no-repeat;
}
.background-circle-top-left {
    position: absolute;
    top: -60%;
    left: -60%;
    z-index: -1;
    width: 100%;
    height: 135%;
    background-repeat: no-repeat;
}
.background-circle-bottom-right {
    position: absolute;
    bottom: -80%;
    right: -70%;
    z-index: -1;
    width: 100%;
    height: 120%;
    background-repeat: no-repeat;
}
.background-circle-bottom-left {
    position: absolute;
    bottom: -60%;
    left: -60%;
    z-index: -2;
    width: 100%;
    height: 120%;
    background-repeat: no-repeat;
}
.padding-bottom-50p {
    padding-bottom: 50px;
}
.testimonial-flex1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fb2-testimonial {
    flex-basis: 50%;
}

@keyframes line_small {
    0% {
        width: 16px;
    }
    100% {
        width: 400px;
    }
}

@keyframes line_large {
    0% {
        width: 80px;
    }
    100% {
        width: 0px;
    }
}
/* Mailchimp css */
.mailchimp,
.calenderly > iframe {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 5px !important;
    box-shadow: #00000028 1px 1px 20px 7px;
}
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    max-width: 600px;
}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup div#mce-responses {
    float: none !important;
    margin: 0 !important;
    display: flex !important;
    align-items: space-between !important;
    width: 100% !important;
}
#mc_embed_signup input {
    background-color: #fff;
    border: 0 !important ;
    border-bottom: 2px solid var(--primary_color) !important;
    border-radius: 0 !important;
}
/* #mc_embed_signup input:focus-visible {
    outline: none;
} */
#mc-embedded-subscribe {
    background-color: var(--primary_color) !important;
}
#mc-embedded-subscribe:hover {
    background-color: #a387bc !important;
}

/* Custom Form css */
form#form {
    display: block;
    padding: 20px;
}

#form input,
#form textarea {
    width: 100%;
    border: none;
    border-bottom: solid 2px #a387bc;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}
#form textarea {
    border: solid 2px #a387bc;
}

#form label {
    margin-bottom: 10px;
    display: block;
}

#form button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: var(--primary_color);
    color: #fff;
    cursor: pointer;
    border: 0;
    transition: 0.5s all;
}

#form button:hover {
    background-color: var(--secondary_color);
}

.slick-track > div {
    padding: 13px;
}
.slick-track > div h3 {
    color: var(--primary_color);
    margin-top: 0;
    margin-bottom: 10px;
}
.slider-inner-s {
    display: flex;
    box-shadow: #c3c3c359 0 0px 11px 3px;
    border-radius: 10px;
    justify-content: space-between;
}
.slider-inner-s p {
    padding: 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.5s all;
}
.slider-inner-s p:hover {
    display: block;
}
.slider-inner-s img {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    object-fit: cover;
    padding: 10px;
}
/* .slider-inner-s p{
    padding-right: 35px;
} */
.slider-inner-s > div {
    padding: 10px;
}
.testimonals-heading {
    color: #a387bc;
    text-align: center;
    padding-bottom: 30px;
}
.testimonal-subheading {
    margin: 0;
    color: var(--secondary_color);
}
.btn-social-media {
    color: #fff;
    background-color: #a387bc;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    transition: 0.5s all;
}
.btn-social-media:hover {
    background-color: var(--primary_color);
}
.calendly-inline-widget {
    position: relative;
    min-width: 320px;
    height: 600px;
    box-shadow: #38324f94 4px 5px 20px 13px;
    border-radius: 5px;
    overflow: hidden;
}
@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
    .testimonial-flex1 {
        justify-content: center;
    }
    .testimonial-flex {
        justify-content: center;
    }
    .iframe-container {
        order: 2;
    }
    .social-button-container-flex-start {
        display: none;
    }
    .social-button-container-flex-end {
        display: none;
    }

    .social-button-container-flex-bottom {
        display: flex;
        justify-content: center;
        padding: 35px 0px;
    }

    .padding-bottom-50p {
        padding-bottom: 0px;
    }
    .fb40 {
        flex-basis: 60%;
        margin-bottom: 50px;
    }
    .paragraph-right {
        text-align: right;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    #landing-page .calendly-inline-widget {
        height: 650px !important;
    }
}
@media only screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }
    .slick-next:before,
    .slick-prev:before {
        color: #2a2441 !important;
    }
    .slick-next {
        right: -10px;
    }

    .slick-prev {
        left: -10px;
    }
    .nav-active {
        display: block !important;
    }
    .fb2 {
        flex-basis: 100%;
    }
    .fb40 {
        flex-basis: 80%;
    }
    .fb2-testimonial {
        flex-basis: 90%;
    }
    .iframe-WH {
        /* width: 592px; */
        width: 100%;
    }
    .heading {
        font-size: 35px;
    }
    #landing-page .calendly-inline-widget {
        height: 735px !important;
    }
    .slider-inner-s {
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 30px;
    }

    .slider-inner-s h4,
    .slider-inner-s h3 {
        padding: 0 10px;
    }
    .slider-inner-s > div {
        flex-basis: 100%;
    }
    .social-media {
        text-align: center;
    }
    .slider-inner-s p:after {
        content: "Read More";
        position: absolute;
        bottom: 20px;
        left: 20px;
        text-decoration: underline;
    }

    .slider-inner-s p:hover:after {
        content: " ";
    }
}
@media only screen and (max-width: 690px) {
    #landing-page .calendly-inline-widget {
        box-shadow: 0 10px 20px #00000030;
    }
}
@media only screen and (max-width: 500px) {
    #landing-page .calendly-inline-widget {
        height: 630px !important;
    }

    #mc-field-group {
        flex-basis: 100% !important;
    }
}

@media only screen and (max-width: 425px) {
    .iframe-WH {
        /* width:275px; */
        width: 100%;
        height: 200px;
    }

    .iframe-container {
        width: 275px;
        height: 200px;
        position: relative;
    }
    .background-circle-top-right {
        display: none;
    }
    .background-circle-top-left {
        display: none;
    }
    .background-circle-bottom-right {
        display: none;
    }
    .background-circle-bottom-left {
        display: none;
    }
    .box-bottom-right {
        width: 83px;
        height: 81px;
    }

    .box-top-left {
        width: 83px;
        height: 81px;
    }
    .box-bottom-left {
        width: 83px;
        height: 81px;
    }

    .box-top-right {
        width: 83px;
        height: 81px;
    }
    .circle-bottom-left {
        width: 38px;
        height: 38px;
    }

    .circle-top-right {
        width: 83px;
        height: 81px;
    }
    .fb40 {
        margin-bottom: 0px;
    }
}
