.logo img {
    width: 100%;
    cursor: pointer;
}

.header {
    background-color: var(--text_white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header_main {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    padding: 10px 0;
    position: relative;
}
.header_main >div{
    align-items: center;
}
.logo {
    flex-basis: 10% !important;
}
.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.nav ul li{
    padding: 0 28px;
}
.btn{
    margin: 0 !important;
}

.nav_item a {
  
    font-size: 16px;
    color: var(--text_color);
    transition: .5s all;
}
.nav_item_dropdown{
    position: relative;
}
.nav_item_dropdown:hover .nav_dropdown{
    transform: scale(1);
    opacity: 1;
    background-color: #fff;
}

.nav_item a:hover {
    color: var(--primary_color);
}

.contact_img {
    transform: translateY(20px);
}

.hamburgermenu {
    display: none;
}

.mobile_nav {
    display: none;
}
.nav_dropdown{
    display: block;
    background-color: var(--text_white);
    position: absolute;
    left: 0;
    padding: 20px;
    width: 320px;
    transition: .5s all;
    transform: scale(1,0);
    opacity: 0;
    transform-origin: top;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 3px 6px 0px #00000023;
    top: 170%;
    background-color: #EDF0EF;
}
.nav_dropdown ul{
    display: block;
    padding: 0;
    text-align: left;
}
.nav_item_active a{
    border-bottom: solid 2px var(--primary_color);
    color: var(--primary_color);
    padding-bottom: 5px !important;
}

@media only screen and (max-width: 810px) {
    .nav ul {
        display: none;
    }
    .hamburgermenu {
        display: block;
        cursor: pointer;
    }
    .mobile_nav {
        display: block;
        transform: translateX(-100%);
        height: 0;
        transition: .5s all;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        -webkit-backdrop-filter: blur(90px);
        backdrop-filter: blur(90px);
    }
    .mobile_active {
        transform: translateX(0);
        transition: .5s all;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: var(--footer-color);
    }
    .mobile_active ul {
        margin: 0;
        list-style: none;
    }
    .mobile_active ul li {
        padding: 10px 0;
    }
    .mobile_active ul li a {
        color: var(--text_white);
    }
    .logo{
        flex-basis: 30% !important;
    }
    .header_main > div{
        align-items: center;
    }
}