.logo
{
    width: 220px;
}
.logo_nav
{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #707070;
}
.banner_sec{
    height: 750px;
    background-image: url("/landingpage/banner_background.png");
    background-repeat:no-repeat ;
    background-size: cover;
    margin-bottom: 40px;
    display: flex;
    align-items: center;

}
.banner_inner,.landing_inner_content{
    max-width: 1390px;
    margin: 0 auto;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.landing_inner_content{
    padding: 50px 15px;
    flex-wrap: wrap;
}
.landing_inner_img
{
    width: 150px;
}
.fb2{
    flex-basis: 45%;
}
.fb3{
    min-width: 275px;
    flex-basis: 28%;
    padding-right: 25px;
    margin-bottom: 25px;
}
.white{
    color: white;
}
.purple{
    color:#A387BC;
}
.text_sec{
    padding-right: 25px;
}
.size_58
{
    font-size: 58px;
}
.size_24{
    font-size: 24px;
}
.size_18
{
    font-size: 18px;
}
.size_14{
    font-size: 14px;
}
.list_style{
    padding-left: 18px;
}
.list_style li::marker {
    color: #A387BC;
}
.footer{
    text-align: center;
    background-color: #EAEAEA;
    padding: 30px 0;
}
.footer_hr{
    width: 80%;
    margin: 20px auto 0;
    border: 0.5px solid #A387BC60;
}
.banner_p{
    margin: 0;
}
.banner_blue{
    color: #daeaf8;
}
.banner_h2{
    margin-top: 0;
    margin-bottom: 25px;
    color: #a387bc;
}
.list_img{
    text-align: center;
}
.purple{
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .size_58
    {
        font-size: 36px;
    }
    .calendly-inline-widget {
        height: 700px !important;
    }
    .banner_inner{
        align-items: center;
    }
}
@media only screen and (max-width: 768px) {
    .banner_inner{
        flex-wrap: wrap;
        padding-top: 350px;
    }
    .banner_inner .fb2{
        flex-basis: 100%;
    }
    .banner_sec{
        margin-bottom: 300px;
    
    }
    .fb3{
        flex-basis: 45%;
    }
}
@media only screen and (max-width: 696px) {
    .text_sec {
        margin-bottom: 25px;
    }

}
@media only screen and (max-width: 600px) {
    .fb3{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .list_img{
        text-align: center;
    }
    .purple{
        text-align: center;
    }
    .banner_sec{
        margin-bottom: 230px;
    }
}
@media only screen and (max-width: 425px) {
    .banner_sec{
        margin-bottom: 320px;
    }
}

