.percentage_wrap_content{
    display: flex;

}

.percentage_main_content h3{
    color: #A387BC;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 20px;
    
}


.percentage_box{


    background-color: #A387BC;
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box_empty{
    background-color:rgba(163, 135, 188, 0.3);
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_main_content p{
    color: #2A2441;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 16px;
    
}
