.percentage_wrap_content{
    display: flex;
    flex-basis: 50%;

}

.percentage_main_content h3{
    color: #A387BC;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 20px;
    
}


.percentage_box1 {


    background-color: #A387BC;
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box2 {


    background-color: #A387BC;
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box_empty3{
    background-color:rgba(163, 135, 188, 0.3);
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box_empty4{
    background-color:rgba(163, 135, 188, 0.3);
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_main_content p{
    color: #2A2441;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 16px;
    
}
@media screen and (max-width: 1174px) 
{

.percentage_box1 {


    background-color: #A387BC;
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box2 {

    margin: 2px; 
    display: none;
}
.percentage_box_empty3{
   
    background-color:rgba(163, 135, 188, 0.3);
    width: 10px;
    height: 10px; 
    margin: 2px;
    display: inline-block;
}
.percentage_box_empty4{
   
    display: none
}


}







@media screen and (max-width: 767px) 
{

    .percentage_box{


        
        width: 5px;
        height: 5px; 
        
        
    }
    .percentage_box_empty{
        background-color:rgba(163, 135, 188, 0.3);
        width: 5px;
        height: 5px; 
        margin: 2px;
        display: inline-block;
    }


}


@media screen and (max-width: 767px) 
{

.percentage_main_content p {
             
    font-size: 12px;
}
}