.top_banner {
    padding: 150px 0;
}
.heading_lite {
    font-weight: 400;
    text-align: center;
}
.heading_lite > span {
    color: var(--primary_color);
}
.banner_section {
    background-color: var(--washed_golden);
    padding: 150px 0;
    color: var(--color-black);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.banner_section > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner_section > div > div{
    flex-basis: 50%;
}
.banner_section img{
    width: 100%;
}
.halfleft{
    max-width: 400px;
}
.banner_section h2 {
    color: var(--color-black);
}
.service_main .inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}
.service_main{
    padding: 150px 0;
}
.service_main_alt{
    background-color: var(--washed_golden);
}
.contact_us{
    text-align: center;
    background-color: var(--secondary_color);
    padding: 100px 0;

}
.contact_us a{
    margin: auto;
    margin-top: 20px;
}
.contact_us p{
    margin: 0;
}

@media only screen and (max-width: 768px){
    .banner_section > div{
        flex-wrap: wrap-reverse;
    }
    .banner_section > div > div{
        flex-basis: 100%;
    }
    .banner_section{
        padding: 50px 0;
    }
    .service_main{
        padding: 50px 0;
    }
    .halfleft{
        max-width: 100%;
    }
    .service_main .inner{
        grid-template-columns: 1fr;
    }
    .service_main_alt .inner{
        display: flex !important;
        flex-wrap: wrap-reverse;
    }
}