.profile_content_cover{

background-color: #F2F9FF;

}
.profile_content_main{
    
    max-width: 1440px;
    margin: auto;
    padding-top: 10rem;
   
}
.profile_content_main_column{

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.profile_content_main_column2{

    display: flex;
    align-items: stretch;
    justify-content: center; 
    margin-top: 1%;
}

.profile_content_main_column3{

    display: flex;
    justify-content: center;
    padding: 1% 0%;
   position: relative;


}
.profile_wrapper{
 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 50%;
   
}

.profile_picture img{  

    display: block;
    border-radius: 50%;  
    padding: 1rem;    
}

.talent_detail{
    
    margin: 0px auto;
    max-width: 30rem;
   
    
}

.talent_detail h1{
    /* width: 261px; */
    /* height: 29px; */
    font-style: SemiBold;
    font-size: 24px;
    color: #000000;
    font-family:  Montserrat;
    margin: 0px;
   

}
.talent_detail h5{

    /* width: 261px;
    height: 20px; */
    font-style: regular;
    font-size: 16px;
    color: #000000;
    font-family:  Montserrat;
    margin: 0px;
    
    }

.talent_detail p{

    font-family:  Montserrat;
    font-style: regular;
    size: 14px;
    line-height: 22px;
    align-items: left;
    
}


/* row 2 started */


.profile_content_main_row2{
  
    max-width: 30%;
    margin: 0px auto;
}
.hire_me{

    background-color: #FFFFFF;
    margin-right: 1.5%;
    padding: 1% 2%;
    flex-basis: 30%;
}
   

.hire_me h1{
    
    font-style: SemiBold;
    font-size: 24px;
    color: #000000;
    font-family:  Montserrat;

    margin: 0px auto;
    padding-left: 6%;
      
}
.hire_details{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6%;
}

.hire_details h3{

    color: #A387BC;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 20px;

}

.hire_details p{

    color: #2A2441;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 12px;

}

.hire_me button{

    margin: 0px auto;
    background-color: #A387BC;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: medium;
    font-size: 14px;
    border: none;
    width: 100%;
    padding: 2%;

}
.download_btn2 button{
 
    display: none;
}

.skill_me{

    background-color: #FFFFFF;  
    padding: 2% 2%;
    flex-basis: 30%;

}
.skill_me h1{
 
    font-style: SemiBold;
    font-size: 24px;
    color: #000000;
    font-family:  Montserrat;

    margin: 0px auto;
    padding-left: 6%;

}

/* my expertise/Featured project style start */


.my_expertise_content{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F9FF;
  
}

.my_expertise{

    background-color: #FFFFFF;
    margin-right: 2%;
    flex-basis: 65%;
    position: relative;

   
}
.my_expertise video {
    
    width: 91% !important; }


.line{
    
    border-left: 2px solid #2A2441;
    margin: 0% 2%;
} 

.line::before{
  
    content: "''";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    POSITION: absolute;
    left: 0.9%;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1;

}

.my_expertise h1{
    margin-left: 5rem;
    font-family: Montserrat;
    font-style: SemiBold ;
    font-size: 24px;
    line-height: 29px;

}
.my_expertise video{
    margin-left: 5%;
   width: auto;
   

}

/* my skills content started */

.my_skill_content{
    
    background-color: #FFFFFF;
    margin: 2% 5% 2% 3%;
     
}
.my_skill_content h1{
    
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 24px;
    padding-left: 14px;

}

.my_skill_badge{

    background-color: #DAEAF8;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 24px;
   
}
.my_skill_badge_one{

    background-color: #DAEAF8;
    width: 105px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    font-family: Poppins;
    border-radius: 24px;

}
.my_skill_badge p{

    font-family: Poppins;
    font-style: Medium;
    font-size: 122px;
    margin: 0px;
    
}
.my_skill_badges_wrapper{

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0rem 1rem;
    

}
/* My experience content started */

.my_experience{

   
    background-color: #ffffff;
    flex-basis: 65%;
    margin-right: 2%;
 
}

.my_experience h1{
 
    padding: 0px;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 24px;
    color: #A387BC;
   

}

.my_experience_designation h3{

    
    font-family: Montserrat;
    font-style: Medium;
    font-size: 20px;
    color: #A387BC;
    margin: 0px auto;

}

.my_experience_designation h5{

    font-family: Montserrat;
    font-style: Regular;
    font-size: 16px;
    color: #2A2441;
    margin: 0px auto;

 
}
.my_experience_designation h6{

    font-family: Montserrat;
    font-style: Regular;
    font-size: 12px;
    color: #2A2441;
    margin: 0px auto;
  
}
.my_experience_designation p{


    font-family: Montserrat;
    font-style: Regular;
    font-size: 14px;
    color: #2A2441;


}
.my_experience_designation::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    left: 1.9%;
    border-radius: 50%;
}

.download_btn{
  
 flex-basis: 30%;
  
}

.download_btn button{
     
    background-color: #A387BC;
    align-items: center;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: medium;
    font-size: 14px;
    border: none;
    width: 100%;
    height: 6vh;
   
    
}

.linecircule{
    border-left: 2px solid #2A2441;
    padding: 0px 38px;
    margin-left: 1%;
    
}
.linecircule::before{
  
        content: "''";
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        POSITION: absolute;
        left: 1.4%;
        border: 2px solid black;
        border-radius: 50%;
        z-index: 1;
        
    
}
 
.percentage_component{

        display: flex;
        justify-content: space-between;
}

 @media screen and (max-width: 1174px) 
    {
    .profile_content_main_column2{

        padding-left: 0%;   }
            
    .my_expertise {
          
        padding: 2% 2%;
        width: auto;
          
    }
    .my_expertise h1{
          
        margin-left: 6%;
          
    }
    .my_expertise video {

        width: auto;
        
    }

    .download_btn button {
            
        width: 100%
            
    }
    .my_experience {
        
         /* margin-left: 2.5%; */
    }
    
    .hire_me{
       
    
        width: 98%;
        padding: 2% 2%;
       
    }
    .hire_me button {
        
        font-size: 12px;
        
    }
    .my_skill_badges_wrapper{

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 3% 3%;
    }
    .linecircule{
       
       
        margin-left: 4%;
    }
    
    .linecircule::before{
  
        left: 3.2%;
}
    .line::before{
  
      left: 3.5%;
  

}
.my_experience_designation::before {
    
    left: 3.8%;
    
}
    }
    @media screen and (max-width: 810px) 
    {
        .profile_wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            margin: 0px auto;
        }
        .profile_content_main_column{
            
            display: flex;
         
        }
        .my_expertise video {
            margin-left: 1rem;
            width: auto;
        }
        .my_expertise h1 {
            padding-left: 0rem;
          
        }
        .my_skill_content h1 {
            
            padding-left: 93px;
        }
        .hire_me {
    
            margin: 2px auto;
            padding: 2% 0%;
            
        }
        .my_skill_badges_wrapper {
       
            padding: 0rem 0rem;
        }
        .download_btn{
            padding-left: 2%;
        }
        .profile_content_main_column3{
           
            padding: 2% 0%;
           
        }
       
        .my_experience{
            margin-left: 1%;
        }
      

        .linecircule::before{
  
            left: 3.2%;
         
    }
    .line::before{
      
        left: 3.0%;
    }

    .hire_me button {
        margin: 2px 6px;
        width: 95%;
        padding: 2%;
    }



    .my_experience_designation::before {
       
        left: 4.1%;
        
    }
      
    }

    @media screen and (max-width: 767px) 
    {
       
        .profile_content_main_column{
            display: block;
            padding: 2% 2%;
        }

        .talent_detail h1 {
    
            font-size: 20px;
    
        }
        .talent_detail p {
  
        font-size: 14px;
    
        }
       
        .hire_me {
            
         display: flex;
         align-items: center;
         justify-content: space-around;
            
            
        }
        .hire_me h1 {
            
        margin: 0px;
        padding-left: 0%;

        }
        .hire_me button {
           
        width: 15%;
        padding: 1%;

        }
        .hire_details {
           
            padding: 0% 0%;
            flex-basis: 50%;
        

        }
        .profile_content_main_column2{

            padding-left: 1%;
            display: flex ;
            flex-wrap: wrap;
            
        }

        .line::before {
            left: 2.5%;
        }


    .skill_me{


            background-color: #FFFFFF;
            margin: 3% 3%;
            padding: 2% 2%;
            flex-basis: 100%; 
        
        }
        .skill_me h1{
            padding-left: 1%;
            
        }
        .my_expertise{
        
            margin: 3% 3%;
            flex-basis: 100%;
            order: 2;
           
        }
        .my_expertise h1{
        
           margin: 3% 4%;
           
        }

        .my_skill_badges_wrapper{

            padding: 1rem 0rem;
        }

        .download_btn{

            display: none;
        }
        .my_experience{

            flex-basis: 97%;
           margin: 0% 3%;
        }
        .linecircule::before {

            left: 5.2%;
        }
        .percentage_component_main{

            display: flex;
           
        }

        .linecircule{
            margin-left: 4%;
            padding: 0px 21px;
           
        } 
        .download_btn2{

            padding-left: 4%; 
            
          }
          
          .download_btn2 button{
              
              display: inline;
              background-color: #A387BC;
              color: #FFFFFF;
              font-family: Montserrat;
              font-style: medium;
              font-size: 14px;
              border: none;
              width:47vw;
              height: 5vh;
             

        
          }
          .my_experience_designation::before {
       
            left: 6.2%;
            
        }

        }
        @media screen and (max-width: 520px) 
    {

        .talent_detail h1 {
            font-size: 16px;
        }
        .talent_detail h5 {
            font-size: 14px;
        }
        
    .talent_detail p {
    font-size: 12px;
}



        
    }